<div style="border: 2px solid red; display: flex; flex-direction: column; height: 300px;"
     [style.background-color]="car.currentColor"
     (customOver)="showId = $event">

  <span *ngIf="car.status === 'disabled'" style="border: 2px solid yellow;">
    No disponible
  </span>
  <span *ngIf="showId">id: {{car.id}}</span>

  <span>Type: {{car.type | uppercase}}</span>
  <span>Color: {{car.currentColor}}</span>
  <span>Capacity: {{car.capacity}}</span>
  <span>Create Date: {{car.createDate | date: 'dd/MM/yy'}}</span>
  <span>Price: {{car.price | customPrice:car.moneyType:car.timeType}}</span>

  <ng-container *ngFor="let color of car.color">
    <button [style.background-color]="color"
            class="btn"
            (click)="setColor(color)">
      {{color}}
    </button>
  </ng-container>

  <button (click)="onBuyRent()"
          class="btn"
          [disabled]="car.status === 'disabled'">
    {{ car.category === 'sale' ? 'Buy' : 'Rent' }}
  </button>

</div>
