<p>2P 2022</p>

<p>AUTOS NUEVOS</p>
<p>TOTAL BS: {{sale.BS}}</p>
<p>TOTAL $: {{sale.USD}}</p>
<div style="display: flex; flex-direction: row;">
  <ng-container *ngFor="let car of saleList">
    <app-car
      [car]="car"
      (buyRent)="addBuyRent($event)"
    >
    </app-car>
  </ng-container>
</div>

<p>AUTOS USADOS</p>
<p>TOTAL BS: {{rental.BS}}</p>
<p>TOTAL $: {{rental.USD}}</p>
<div style="display: flex; flex-direction: row;">
  <ng-container *ngFor="let car of rentalList">
    <app-car
      [car]="car"
      (buyRent)="addBuyRent($event)"
    >
    </app-car>
  </ng-container>
</div>

