<p>ANGULAR</p>

<form #testForm="ngForm" (ngSubmit)="onSubmit(testForm)">
  LAST NAME: <input type="text" name="lastName" ngModel>
  AGE: <input type="text" name="age" ngModel>
  COUNTRY: <input type="text" name="country" ngModel>
  <button type="submit">enviar</button>
</form>

<p>--------------------------------------------</p>

<form #testForm2="ngForm">
  LAST NAME: <input type="text" name="lastName" ngModel>
  AGE: <input type="text" name="age" ngModel>
  COUNTRY: <input type="text" name="country" ngModel>
  <button (click)="onSubmit(testForm2)">enviar</button>
</form>


<p>--------------REACTIVE FORMS----------------------------</p>
COLOR: <input type="text" [formControl]="colorControl">
<button (click)="printColorControl()">print value</button>

<p>----------------REACTIVE FORM----------------------------</p>

<form [formGroup]="personForm">

  <p>Name</p>
  <input type="text" [formControlName]="'name'">
  <p>Last Name</p>
  <input type="text" [formControlName]="'lastName'">
  <p>Age</p>
  <input type="number" [formControlName]="'age'">
  <p>Country</p>
  <input type="text" [formControlName]="'country'">

  <button (click)="sendPerson()">send person</button>
  <button (click)="disableName()">disable Name</button>
  <button (click)="enableName()">enable Name</button>
</form>

